.form-group .radio-inline input[type="radio"] {
  position: relative;
  width: inherit;
}
input[type=radio]{
  background-color:transparent;
  border:none;
  width:10px;
  margin:0px 0 0;
  left: 5px;
}
.form-control .radio-inline{
  margin: 0px;
  margin-left: 10px;
}
input[type=submit], input[type=button] {
  width:100px;
  margin-left:5px;
  box-shadow:1px 1px 1px #FFFFFF;
  cursor:pointer;
}
em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
.btn-sm {
  margin-top: 25px;
  text-align: center;
}
.text-radio{
  font-weight: inherit;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 10px;
}
.form{
  padding-top: 70px;
}

.table td {
  text-align: center;
} 
  
.table th {
  text-align: center;
}
    
  
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}